._1m81tp1j {
	height: auto !important;
}

.etntiu1k {
	box-shadow:none !important;
}

.etntiu1k {
	border:none !important;
}

._18oaqop5 img {
	max-height:90% !important;
	max-width:fit-content !important;
	border-radius:10px;
}

.timeline-point-logo {
	border-radius:50%;
	object-fit:cover;
}
