._1m81tp1j {
	height: auto !important;
}

.etntiu1k {
	box-shadow:none !important;
}

.etntiu1k {
	border:none !important;
}

._18oaqop5 img {
	max-height:90% !important;
	max-width:fit-content !important;
	border-radius:10px;
}

.timeline-point-logo {
	border-radius:50%;
	object-fit:cover;
}

.chzdnol.etntiu1x.etntiu1.etntiu0._1v4ezefbm._1v4ezefbr._1v4ezefca._1v4ezefce.etntiu4.etntiu1q._1v4ezef9._1v4ezef10._1v4ezef1c._1v4ezef7x._1v4ezef8r._1v4ezef9r._1v4ezefbv._1v4ezefbx.etntiu20.etntiu21.etntiu1r._1v4ezef2u._1v4ezef8o.etntiu25.etntiu1u.etntiu28.chzdnok._1v4ezef6._1v4ezef29 > span {
	color:transparent;
	visibility:hidden;
}

.chzdnol.etntiu1x.etntiu1.etntiu0._1v4ezefbm._1v4ezefbr._1v4ezefca._1v4ezefce.etntiu4.etntiu1q._1v4ezef9._1v4ezef10._1v4ezef1c._1v4ezef7x._1v4ezef8r._1v4ezef9r._1v4ezefbv._1v4ezefbx.etntiu20.etntiu21.etntiu1r._1v4ezef2u._1v4ezef8o.etntiu25.etntiu1u.etntiu28.chzdnok._1v4ezef6._1v4ezef29 > span > svg {
	visibility:visible;
	color:#007FFF !important;
	transform:rotate(90deg);
}